*{
box-sizing: border-box;
padding: 0;
margin: 0;
}
#main-info{
	background: #606caf;
	.main-info__profile{
		width: 50%;
		.main-info__profile-avatar{
			
			& img{
				max-height: 100%;
				max-width: 100%;
				border-radius: 50%;
			}
		}
	}
}