*{
box-sizing: border-box;
padding: 0;
margin: 0;
}
header{
	width: 100%;
	background: #606caf;
}
@font-face{
    font-family: OpenSans-Regular;
    src : url("/src/fonts/OpenSans-Regular.ttf")
}
@font-face{
    font-family: Montserrat-Regular;
    src : url("/src/fonts/Montserrat-Regular.ttf")
}
$sans: OpenSans-Regular, sans-serif;
$montserrat: Montserrat-Regular, sans-serif;

.container{
	display: flex;
	max-width: 1340px;
    padding: 3rem 2rem 4rem 2rem;
	justify-content: space-between;
	margin: auto;
}
.main-info__profile{
		display: flex;
		width: 50%;
			& img{			
				display: flex;
    			align-self: center;	
				max-width: 100%;
				border-radius: 50%;
			}
		.main-info__profile-spec{
			align-self:center;
			margin-left: 2rem;
			& h1{
				font-family: $montserrat;
				color: #fff;
				font-size: 35px;
			}
			& h2{
				color: #fff;
				font-weight: 300;
				font-family: $sans;
			}
		}
	}
.main-info__contacts{
		align-self:center;
		.contacts-list a, .contacts-list{
			list-style: none;
			text-decoration: none;
			color: #fff;
			line-height: 2rem;
			font-family: $sans;
			font-size: 18px;
			&__adress:before{
				display: block;
				position: relative;
				left: -31px;
				top: 33px;
				content: "";
				width: 19px;
				height: 26px;
				background: url(../img/geo.png) no-repeat;
			}
			&__mail:before{
				display: block;
				position: relative;
				left: -34px;
				top: 30px;
				content: "";
				width: 26px;
				height: 25px;
				background: url(../img/globus.png) no-repeat;
			}
			&__tel:before{
				display: block;
				position: relative;
				left: -29px;
				top: 30px;
				content: "";
				width: 18px;
				height: 26px;
				background: url(../img/telephone.png) no-repeat;
			}
	}
}
.contacts-list a:hover{
	color: black;
	transition: all 0.4s ease;
}
.contacts-list__mail:before:last-child{
	display: none;
}
.main-wrapper{
	display: flex;
	padding: 2rem 4rem 5rem 4rem;
}
.left-block{
	width: 20%;
	.profile-info{
		margin-bottom: 2rem;
		p{
			font-family: $sans;
		}
	}
	.interests{
		margin-bottom: 2rem;
	}
}
.icon-wrap{
	padding: 10px;
	background: #606caf;
	border-radius: 50%;
	margin-right: 1rem;
	& img{
		height: 25px;
	}
}
.left-block__title{
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
	& h3{
		font-family: $montserrat;
		font-size: 26px;
	}
}
.interests-icon{
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__wrap{
		width: 60px;
		height: 60px;
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 48px;
		border: 2px solid #606caf;
		border-radius: 50%;
		margin-bottom: 7px;
		img{
			max-width: 100%;
			height: 25px;
		}
	}
	&__text{
		font-family: $montserrat;
		font-weight: 700;
	}
	&__head{
		display: flex;
		flex-direction: column;
		align-items:center;
		margin-right: 1rem;
	}
}
.interests-icon__wrap:last-child{
	margin-right: 0;
}

.awwards{
	.awwards-content{
		p{
			font-family: $sans;
			line-height: 24px;
			font-weight: bold;
		}
	}
}
.right-block{
	width: 80%;	
	margin-left: 5rem;	
}
.timeline-wrap{
	display: flex;
	flex-direction: column;
		.timeline-item{
			display: flex;
			margin-left: 4rem;
			&__time{
				// width: 30%;
				ul{
					list-style: none;
					li{
						position: relative;
						margin-bottom: 35px;
						font-family: $sans;
						span{
							color: #616caf;
							font-weight: bold;
							}
						}
						li:before{
							content: "";
						    position: absolute;
						    width: 15px;
						    height: 15px;
						    border: 1px solid #8a8686;
						    border-radius: 50%;
						    left: -30px;
						    top: 25px;
						}
						li:after{
							position: absolute;
						    top: 44px;
						    left: -22px;
						    width: 1px;
						    height: calc(100% + 14px);
						    content: '';
						    background-color: #aca9a9;
						    z-index: 0;
						}
					}
				}
				&__text{
					width: 40%;
					font-family: $sans;
					margin-left: 6rem;
				}
			}
		.timeline-item:last-child li:after{
			display: none;
	}

}
.right-block__title{
			display: flex;
			align-items: center;
			margin-bottom: 1rem;
			& h3{
			font-family: $montserrat;
			font-size: 26px;
			}
		}
.skills-list{
	display: flex;
	flex-wrap:wrap;
	.skills-item__wrap{
		display: flex;
		flex-direction: column;
		margin-right: 4rem;
		margin: auto;
		align-items: center;
		text-align: center;
		.skills-counter{
			    position: relative;
			    text-align: center;
			    width: 110px;
			    height: 110px;
			    line-height: 110px;
			    margin: 0 auto;
		    	font-family: $sans;
		    	font-weight: 700;
		 		font-size: 25px;
		 		margin-bottom: 1rem;
		}
		canvas{
			position: absolute;
			top: 0;
			left: 0;
		}
		p{
			font-family: $sans;
		   	font-weight: 700;
		}
	}
}
@media screen and (max-width: 788px) {
	.main-info__profile-spec{
			& h1{
				font-size: 25px !important;
			}
			& h2{
				font-size: 20px;
			}
		}
		.main-info__contacts .contacts-list{
			font-size: 16px;
		}
}
@media screen and (max-width: 600px) {
	.container{
		flex-direction: column;
		justify-content: center;
	}	
	.main-info__profile .main-info__profile-spec h2{
		text-align: center;
	}
	.main-info__profile .main-info__profile-spec h1{
		text-align: center;
	}
	.main-info__profile {
			width: 100%;
			flex-direction: column;
	}
	.main-info__profile-spec{
		margin: 0 !important;
	}
	.left-block{
		width: 100%;	
	}
	.interests-icon{
		justify-content: space-between;
	}
	.main-wrapper{
		flex-direction: column;
	}
	.right-block{
		width: 100%;
		margin-left: 0;
	}
	.awwards{
		margin-bottom: 2rem;
	}

}

@media screen and (max-width: 810px){
	.left-block__title h3, .right-block__title h3{
		font-size: 20px;
	}
	.right-block .experence .timeline-wrap .timeline-item__text{
		font-size: 14px;
		margin-left: 0rem;
	}
	.skills-item__wrap{
			margin-bottom: 2rem;
		}

}
